// Cores
$dark: #121214;
$gray: #989da0;
$light: #f5f5f5;
$white: #fff;
$blue: #1a9ce8;
$green: #40ba25;
$red: #db2b2b;
$yellow: #ffda0a;

// Tamanhos de texto
$text1: .9rem;
$text2: 1.2rem;
$text3: 1.8rem;
$text4: 2.8rem;
$text5: 4rem;

// Tamanhos de margens e paddings
$size1: 10px;
$size2: 25px;
$size3: 50px;

// Breakpoints
$laptop: 1024px;
$tablet: 768px;
$mobile: 425px;